- type: job
  id: StalkerRene
  name: job-renegade
  icon: rene
  description: job-renegade-desc
  playTimeTracker: JobRenegat
  whitelisted: true
  requirements:
    # - !type:RoleTimeRequirement
    #   role: JobRenegat
    #   time: 1
    - !type:SpeciesRequirement
      species:
      - Human
      - Dwarf
  startingGear: ReneGear
  supervisors: job-renegade-supervisor
  canBeAntag: false
  special:
    - !type:AddComponentSpecial
      components:
        - type: Access
          tags:
            - Renegat
        - type: Bands
          band: Stalker
          bandIcon: rene
          bandProto: STRenegatsBand
          bandRankId: 1
        - type: BlockTackingHolyItems
        - type: NpcFactionMember
          factions:
          - Bandit

- type: job
  id: StalkerHeadRene
  name: job-head-renegade
  icon: rene
  description: job-head-renegade-desc
  playTimeTracker: JobHeadRenegat
  whitelisted: true
  requirements:
  # - !type:RoleTimeRequirement
  #   role: JobRenegat
  #   time: 1
  - !type:SpeciesRequirement
    species:
    - Human
    - Dwarf
  startingGear: ReneGearHead # EN
  supervisors: job-head-renegade-supervisor
  canBeAntag: false
  special:
  - !type:AddComponentSpecial
    components:
    - type: Access
      tags:
      - Renegat
    - type: Bands
      band: Stalker
      bandIcon: rene
      bandProto: STRenegatsBand
      bandRankId: 2
    - type: BlockTackingHolyItems
    - type: NpcFactionMember
      factions:
      - Bandit

- type: startingGear
  id: ReneGear
  equipment:
    id: BandPDA
    neck: ClothingNeckDogtagRenegade # The Renegades are what happens when the Zone scrapes the absolute bottom of its radioactive boot and decides, “Yeah, this sludge can walk and shoot.” They’re not a faction so much as a disorganized parade of brain-dead scavengers who couldn’t survive five minutes without robbing someone smarter than them. No code, no spine, no competence — just a bunch of trigger-happy parasites mistaking cowardice for “freedom.” Even bandits look at Renegades and think, damn, at least we have standards. They infest ruins like mold, contribute nothing, betray everyone, and still somehow act surprised when the Zone chews them up and spits them out. If the Zone had a garbage disposal, Renegades would be the default setting.

- type: startingGear
  id: ReneGearHead
  equipment:
    id: BandPDA
    neck: ClothingNeckDogtagRenegadeLeader # EN

- type: stBand
  id: STRenegatsBand
  name: Renegades
  factionId: Stalker #Renegades # Stalker-EN-TODO: Faction "Renegades" does not exist! Replaced with "Stalker"
  maxMembers: 11
  managingRankId: 2
  hierarchy:
    1: StalkerRene
    2: StalkerHeadRene
